.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
    width: 300px;
    border-radius: 5px;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.22);
    color: rgb(60, 60, 60);
    background-color: rgb(234, 234, 234);
}

.user-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        padding: 0 10px;
        font-size: 15px;
        text-align: right;
    }

    .user-fio {
        font-size: 17px;
        color: rgb(8, 8, 142);
    }
}


.user-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 35%;
    height: 100%;
}