<div class="user-card">
    <div class="user-info">
        <p class="user-fio"><span class="label">ФИО:</span> {{ fio }}</p>
        <p class="user-address"><span class="label">Адрес:</span> {{ address }}</p>
    </div>
    <div class="user-btn-container">
        <button type="button" class="btn" (click)="onClickChange()">Изменить</button>
    </div>
</div>

<lu-user-modal 
    *ngIf="isModalOpen"
    [id]="id" 
    [fio]="fio" 
    [address]="address"
    (modalClose)="isModalOpen=false"></lu-user-modal>