
<div class="modal-container">
    <div class="modal">
        <button type="button" class="btn-close" (click)="modalClose.emit()">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
        <form>
            <div class="title-container">
                <h2 class="title">Изменение данных</h2>
            </div>
            <div class="field">
                <label for="fio">ФИО:</label>
                <input type="text" id="fio" name="fio" class="input" required [(ngModel)]="fio">
            </div>
            <div class="field">
                <label for="address">Адрес:</label>
                <ngx-dadata [config]="config" [(ngModel)]="address" required name="address" class="input"></ngx-dadata>
                <!-- <input type="text" id="address" name="address" class="input" [(ngModel)]="address"> -->
            </div>
            <button type="button" class="btn" (click)="onClickSave()">Сохранить</button>
        </form>
    </div>
</div>